/* ================ FORM ================== */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.formInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for form buttons */
.formButton {
    background-color: : #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    margin-left: 80%;
    border: none;
    cursor: pointer;
    width: 20%;
}

/* Hover effect for form buttons */
.formButton:hover{
    opacity: .8;
}

/* Cancel button style */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f44336;
}

/* Container padding */
.container {
    padding: 16px;
}

/* Forgot password text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change for small screens */
@media screen and (max-width: 300px){
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* ================ MODAL ================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal content/box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 40%;
}

/* Close button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Zoom animation */
.animate {
    -webkit-animation: animatezoom .6s;
    animation: animatezoom .6s;
}

@-webkit-keyframes animatezoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}