
@font-face {
    font-family: 'route';
    src: url('Fonts/Route/route159-ultralight-webfont.woff2') format('woff2'),
        url('Fonts/Route/route159-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein{
    from{
        opacity: 0;
        bottom: -50px;
    }
    to{
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes fadecolor{
    from{background-color:white;}
    to{background-color:#f4e4cb;}
}

@keyframes fade-result-title{
    from{
        opacity: 0;
        left: 20px;
    }to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes blur-anim {
    from {
        filter: blur(0px);
        filter: url("blur.svg#gaussian_blur");
        -webkit-filter: blur(0px);
    }to{
        filter: blur(2px);
        filter: url("blur.svg#gaussian_blur");
        -webkit-filter: blur(2px);
    }
}

@keyframes unblur-anim {
    from {
        filter: blur(2px);
        filter: url("blur.svg#gaussian_blur");
        -webkit-filter: blur(2px);
    }to{
        filter: blur(0px);
        filter: url("blur.svg#gaussian_blur");
        -webkit-filter: blur(0px);
    }
}

body {
    background-color:white;
    font-family: 'route';
    animation-name: fadecolor;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.blur {
    animation-name: blur-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.unblur {
    animation-name: unblur-anim;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.btn-padding{
    text-align: right;
}

.btn-group button{
    border: 0px;
    color: rgb(120,70,70);
    background: rgba(0,0,0,0);
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'route';
    font-size: 130%;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: .1s;
    animation-name: fadein;
    animation-duration: 2s;
}

.btn-group button:hover{
    background-color: rgb(180,180,180);
    border: 0px;
}

.titlePadding{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    opacity: 0;
    position: relative;
    animation-fill-mode: forwards;
    animation-delay: .8s;
    animation-name: fadein;
    animation-duration: 2s;
}

.title {
    color: rgb(120, 70, 70);
    font-family: 'route';
    font-size: 500%;
}

.search-padding{
    text-align: center;
}

.search-bar {
    width: 80%;
    height: 30px;
    font-size: 140%;
    opacity: 0;
    position: relative;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-name: fadein;
    animation-duration: 2s;
}

.blankButton{
    border: 0px;
    background: rgba(0,0,0,0);
}