/* CSS for the result of the searches */
@keyframes extend-result-line{
    from{
        width: 0%;
        background: linear-gradient(to right, rgba(120, 70, 70,1), rgba(120, 70, 70, 0));
    }to{
        width: 75%;
        background: linear-gradient(to right, rgba(120, 70, 70,1), rgba(120, 70, 70, 0));
    }
}

@keyframes appear-result-box{
	from{
	    margin: 90px;
	    border: solid rgba(130,130,130,0) 1px;
    	color: rgba(120,70,70,0);
    	background: rgba(0,0,0,0);
		height: 10px;
		width: 10px;
	}to{
	    margin: 10px;
	    border: solid rgba(130,130,130,1) 1px;
    	color: rgba(120,70,70,1);
    	background: rgba(255,230,230,1);
		height: 200px;
		width: 200px;
	}
}

@keyframes enlarge-result-box {
    from {
        height: 200px;
        width: 200px;
    }to{
        height: 400px;
        width: 90%;
    }
}

@keyframes contract-result-box {
    from {
        height: 400px;
        width: 90%;
    }to{
        height: 200px;
        width: 200px;
    }
} 

@keyframes appear {
		from{
			color: rgba(120, 70, 70, 0);
		}to{
			color: rgba(120, 70, 70, 1);
		}
}

.result-title {
    opacity: 0px;
    color: rgb(120, 70, 70);
    font-family: 'route';
    font-size: 200%;
    padding-bottom: 9px;
    padding-top: 30px;
    line-height: 50%;
    position: relative;
    animation-fill-mode: forwards;
    animation-name: fade-result-title;
    animation-duration: 1s;
}

.result-line {
    width: 0%;
    height: 1px;
    background-color: rgb(120, 70, 70);
    background: linear-gradient(to right, rgba(120, 70, 70,1), rgba(120, 70, 70, 0));
    position: relative;
    animation-fill-mode: forwards;
    animation-name: extend-result-line;
    animation-duration: 1s;
        
}

.result-box-padding {
    padding: 20px 20px 20px 20px;
}

.result-box button{
    margin: 90px;
    border: solid rgba(130,130,130,0) 1px;
    color: rgba(120,70,70,0);
    background: rgba(0,0,0,0);
    height: 10px;
    width: 10px;
	word-wrap: break-word;
    cursor: pointer;
    font-family: 'route';
    font-size: 130%;
	animation-fill-mode: forwards;
	position: relative;
	animation-name: appear-result-box;
	animation-duration: 1s;
}

.result-box-overlay button{
	margin: 10px;
	word-wrap: break-word;
	border: solid rgb(130,130,130) 1px;
	color: rgb(120,70,70);
	background: rgba(255,0,230,1);
	height: 200px;
	width: 200px;
	cursor: pointer;
	font-family: 'route';
	font-size: 130%;
	animation-name: none;	
	display: inline;
}

.blur-info {
    filter: blur(4px);
	filter: url("blur.svg#gaussian_blur");
    -webkit-filter: blur(4px);
}


.noResults {
    color: rgba(120, 70, 70, 0);
    font-family: 'route';
    font-size: 300%;
	text-align: center;
	animation-name: appear;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	position: relative;
}
